* {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	width: calc(100% - 116px);
}

.nav {
	width: 100%;
	padding: 22px 0;
	position: fixed;
	left: 0;
	backdrop-filter: blur(10px);
}
.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1800px;
	margin: 0 auto;
	width: calc(100% - 116px);
}

.nav__content {
	display: flex;
	align-items: center;
	gap: 39px;
}
.nav__links {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 20px;
}
.nav__links a {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	transition: 0.3s color;
}
.nav__links a:hover {
	color: #eb662b;
}
a.active {
	color: #eb662b;
}

.nav__action {
	display: flex;
	gap: 10px;
	align-items: center;
}
.nav__action span {
	font-size: 14px;
	color: #ffffff;
}
.nav__btn {
	font-size: 14px;
	color: #ffffff;
	background: none;
	border: none;
	padding: 12px 21px;
	cursor: pointer;
	transition: 0.3s color;
}
.nav__btn:hover {
	color: #eb662b;
}
.accent-btn {
	border: 1px solid #ffffff;
	border-radius: 200px;
}

.hero {
	height: 100vh;
	background-image: url(img/images/hero.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
.hero__title {
	font-size: 70px;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 75px;
}
.hero__search {
	background: #ffffff;
	border-radius: 200px;
	width: 470px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 70px;
}
.hero__input {
	font-size: 14px;
	background-image: url(img/icons/location.svg);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left;
	padding: 10px;
	padding-left: 30px;
	border: none;
	outline: none;
	margin-left: 15px;
}
.hero__input::placeholder {
	color: #757575;
}
.hero__btn {
	background: #eb662b;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s background;
}
.hero__btn:hover {
	background: #c95625;
}
.categories {
	color: #ffffff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px 20px;
}
.categories__title {
	grid-column: 1/-1;
}
.category__item {
	background: #ffffff15;
	padding: 16px 30px;
	border-radius: 50px;
}
